/* Styling for the h1 heading */
h1 {
    text-align: center;
    color: #333;
  }
  
  /* Styling for the animal names */
  .animalsss {
    cursor: pointer;
    color: #007bff;
    margin: 10px;
  }
  
  .animalsss:hover {
    text-decoration: underline;
  }
  
  /* Styling for the animal details container */
  #allaboutanimals {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  #allaboutanimals p,
  #allaboutanimals img {
    margin-bottom: 10px;
  }
  
  #allaboutanimals button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  #allaboutanimals button:hover {
    background-color: #0056b3;
  }
  